/Admin/nbproject/private/
/build/
/SpringLib/build/
/SilentUpdate/nbproject/private/
/SpringLib/nbproject/private/
/dist/
/maclookandfeel/build/
/MyVisual/build/
/MyVisual/nbproject/private/
/poi/build/
/SqlInterface/build/
/SqlImplements/build/
/HibernateLib/build/
/JasperreportsLib/build/
/LoginWindow/build/
/MyUtilities/build/
/Admin/build/
/CW_MONTH/build/
/SFC/build/
/DepartMaterial/build/
/poi/nbproject/private/
/JFXBrowser/nbproject/private/
/JFXBrowser/build/
/Warehouse/build/
/SilentUpdate/build/
/jfxrt/nbproject/private/
/jfxrt/build/
/jodd/build/
/jodd/nbproject/private/
/ExportUtil/build/
/ExportUtil/nbproject/private/
/BOM/build/
/BOM/nbproject/private/
/CW_MONTH/nbproject/private/
/Manufacture/build/
/HibernateLib/nbproject/private/